# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
/loghamsterc
/loghamsterd
.vscode/launch.json
.markdownlint.yaml
loghamsterc.toml
loghamsterc.conf
loghamsterd.toml
loghamsterd.conf

# Ignore any logfiles
/*.log
