# LogHamster client configuration example in TOML format

debug = true

[target]
  hostname = "127.0.0.1"
  port = 7007

[prometheus]
  listen = ":8091"
  enabled = false

[[input]]
  watch = false
  path = "/var/log/syslog"

[[input]]
  watch = true
  path = "/tmp/log/test.log"
