debug = true

[server]
listen = ":7007"
baseDirectory = "/var/log/loghamster"
pathTemplate = "$HOST/$PATH"

[prometheus]
listen = ":8092"
enabled = false

# Named outputs with special rules
[[output]]
path = "/var/log/syslog"

[[output]]
name = "sipproxyd"
path = "/var/log/sipproxyd.log"

[[output]]
name = "test"
path = "/tmp/log/test.log"


